@import "includes/colors.scss";
@import "includes/sizes.scss";
@import "includes/mixing.scss";



//TODO GENERALES
body{
    background-color: $darnnes;
    font-family: 'Roboto', sans-serif;
}

//Encabezado
header{
    @include lineargradienservices;
}

//Tabla
.title-container{

    margin:$big-small auto;

    h1{
    font-size: $big;
    margin:$big-small auto;
    color:$third-golden;
    }

}

footer{

    @include lineargradientbasic;
    margin-top:$big-small;

    h2{
        margin:$notes auto;
        font-size: $small;
        color:$light-golden;
    }

    p{
        margin-bottom:$notes;
        font-size: $small;
        color:$light-golden; 
    }
}


table{
    @include flexboxcolumn;
    width:50%;
    border: solid $light-golden 3px;
    border-radius: 6px;
    margin-top: $super-big;


    tr{
        width:400px;
        height:$super-big;


            #orden{
                text-align: left;
            }

            th{
                margin:$big-small auto;
                padding:$small-medium;
                font-size: $small-big;
                color:$secundary-golden;
            }

        td{
            padding:$small-medium;
            color:$light-plate-2;
            font-size:$big-small;
            width:150px;
            border-top: solid $light-golden 1px;
            
        }

        .index{
            color:$dark-golden;
            font-size: $small;
            text-align: left;
        }


    }

}





//------------------------------------------//
//------------------------------------------//
//------------------------------------------//
@media(max-width:320px)
{

.title-container{
    margin:$small auto;
        h1{
        font-size: $medium;
        margin:$small auto;
        }

}

table{
    width:95%;
    border-radius: 6px;
    margin-top: $medium;

    tr{
        width:200px;
        height:$medium;

            th{
                margin:$notes auto;
                padding:$notes;
                font-size: $big-small;
            }

        td{
            padding:$notes;
            font-size:$notes;
            width:75px;
        }

        .index{
            font-size: $notes;
        }
    }

}

}







//------------------------------------------//
//------------------------------------------//
//------------------------------------------//
@media(min-width:321px) and (max-width:468px)
{
.title-container{

    margin:$small auto;
        h1{
        font-size: $medium;
        margin:$small auto;
        }
}

table{
    width:95%;
    border-radius: 6px;
    margin-top: $medium;



    tr{
        width:225px;
        height:$medium;

            th{
                margin:$notes auto;
                padding:$notes;
                font-size: $big-small;
            }

        td{
            padding:$notes;
            font-size:$notes;
            width:75px;
        }

        .index{
            font-size: $notes;
        }
    }
}

}








//------------------------------------------//
//------------------------------------------//
//------------------------------------------//
@media(min-width:469px) and (max-width:568px)
{
.title-container{
    margin:$small auto;
        h1{
        font-size: $medium;
        margin:$small auto;
        }

}

table{
    width:95%;
    border-radius: 6px;
    margin-top: $medium;

    tr{
        width:250px;
        height:$medium;

            th{
                margin:$notes auto;
                padding:$notes;
                font-size: $big-small;
            }

        td{
            padding:$notes;
            font-size:$notes;
            width:90px;
        }

        .index{
            font-size: $notes;
        }
    }

}



}







//------------------------------------------//
//------------------------------------------//
//------------------------------------------//
@media(min-width:569px) and (max-width:768px)
{
.title-container{
    margin:$big-small auto;
        h1{
        font-size: $small-big;
        margin:$big-small auto;
        }
}


table{
    width:95%;
    border-radius: 6px;
    margin-top: $small-big;

    tr{
        width:275px;
        height:$small-big;

            th{
                margin:$small auto;
                padding:$small;
                font-size: $small-medium;
            }

        td{
            padding:$small;
            font-size:$small;
            width:100px;
        }

        .index{
            font-size: $small;
        }
    }
}

}











//------------------------------------------//
//------------------------------------------//
//------------------------------------------//
@media(min-width:769px) and (max-width:1024px)
{
    .title-container{
        margin:$big-small auto;

        h1{
        font-size: $big;
        margin:$big-small auto;
        }
}


table{
    width:80%;
    border-radius: 6px;
    margin-top: $super-big;



    tr{
        width:350px;
        height:$super-big;

            th{
                margin:$big-small auto;
                padding:$small-medium;
                font-size: $small-big;
            }

            td{
                padding:$small-medium;
                font-size:$big-small;
                width:100px;
            }

        .index{
            font-size: $small;
        }
    }

}


}